@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #00796b;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li a {
    font-family: "Oswald";
    text-decoration: none;
    color: #50c878;
    font-size: 40px;
    font-weight: 400;
    margin-right: 40px;
    background-color: #147a4b;
    display: inline-block;
    white-space: normal;
    border-radius: 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    background-color: #4c4c4c;
}


main img {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main_text {
    font-family: "Oswald";
    font-size: 36px;
    margin-bottom: 20px;
    color: #50c878;
}

.main_text_mega {
    width: 80%;
    margin: 0 auto;
    font-size: 55px;
    text-align: center;
}

.RIM {
    display: flex;
    justify-content: flex-start;
    align-items: center;       
    margin-right: 100px;
    margin-top: 30px;
    font-family: "Oswald";
    font-size: 36px;
    color: #50c878;
    
}

.RIM img {
    margin-right: 20px; 
}

.WG {
    display: flex;
    justify-content: flex-start;
    align-items: center;       
    margin-right: 100px;
    margin-top: 100px;
    font-family: "Oswald";
    font-size: 36px;
    color: #50c878;
    
}

.WG img {
    margin-right: 20px; 
}


footer {
    background-color: #00796b;
}

footer img {
    margin-top: 30px;
    margin-left: 80px;
}

footer h2 {
    font-family: Oswald;
    font-size: 36px;
    margin-bottom: 80px;
    color: #4c4c4c;
}

